html, body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

html, body, p, div, article, h1, h2, h3, h4, h5, h6, form {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    color: #fff;
    font-size: 32px;
}

a:hover {
  color: #7f76a0;
}

/*
***** HEADER *****
*/

header {
	background-color: #242424;
	display: flex;
	padding: 10px 0;
	justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#242424+0,242424+100,000000+100&1+0,1+70,0+100 */
	background: -moz-linear-gradient(top,  rgba(24,24,24,1) 0%, rgba(24,24,24,1) 70%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(24,24,24,1) 0%,rgba(24,24,24,1) 70%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(24,24,24,1) 0%,rgba(24,24,24,1) 70%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 10;
}

header .link-container {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: calc(50% - 61px);
	display: flex;
	align-items: center;
}

@font-face {
    font-family: "ARBonnie";
    src: url(fonts/ARBONNIE.ttf) format("truetype");
}

header a {
	flex-grow: 1;
	text-align: center;
	font-family: "ARBonnie";
	color: #fbfbfb;
	font-size: 40px;
	text-decoration: none;
}

#logo{
	max-width: 100%;
  width: 100px;
	height: auto;
	display: block;
  transition: all 1s;

}
#logo:hover {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*
***** SECTIONS *****
*/

/* Header de section */
section h2 {
    display: block;
    background-color: #181818;
    font-family: "ARBonnie";
    text-align: center;
    border: 4px solid #5A5470;
    border-left: 0;
    border-right: 0;
    font-size: 48px;
    padding: 8px 0;
}

section .content {
  margin: 0;
  background-color: rgba(10, 10, 10, 0.9);
  min-height: 100vh;
  padding-top: 40px;
}

section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

#accueil {
    background-image:url(img/camera.jpg);
    z-index: 2;
    margin-top: 80px;
}

#festival {

    background-image:url(img/camera2.jpg);
    z-index: 3;
}

#CM {
  background-image:url(img/camera3.jpg);
  z-index: 4;
}

#CM .content {
  padding-top: 0;
}

#inscription {
  background-image: url(img/formulaire.jpg);
  z-index: 5;
}

/*
***** GRILLE VIDEOS *****
*/


 /* Aligne les colonnes */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
/* colle les lignes d'images */

.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

/* Ecriture centré sur l'image */
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Categorie en majuscule */
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
/* Image couleur */
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
